@import './customBootstrap.scss';

//$pulm: map.get($theme-colors, 'primary');

body {
  margin: 0;
  padding: 0;
  
}

*, *:after, *:before {
  box-sizing: border-box;
}

.hide {
  display: none !important;
}

.trivia-app {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  color: $primary;
}

button + button{
  margin-left: 10px;
}

.question-box {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.answers-list {
  padding: 0;
  list-style: none;
}
.answers-list li {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(219, 140, 21);
  color: whitesmoke;
  margin: 0 0 10px 0;
  cursor: pointer;
  font-weight: bold;
}
.answers-list li:hover {
  background-color: rgb(207, 125, 3);
}

.answers-list .correct {
  background-color: rgb(35, 252, 7);
}
.answers-list .selected.incorrect {
  background-color: red;
}
.answers-list .selected.correct {
  background-color: green;
}